/* Used fonts
    font-family: 'Bitter', serif;
    font-family: 'Raleway', sans-serif;
*/
:root {
    --b_green: #4cb44c;
    --b_red: #e72020;
    --b_grey: #645e5e;
    --body: #F0F0F0;
    --header: #A675A1;
    --footer: #8F3985;
    --content: #EFD9CE;
    --sidebar: #CEA2AC;
}
/*----------General-------------*/
*, *::before, *::after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    background-color: var(--vody);
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-size: 3em;
}
h2, h3 {
    font-size: 1.75em;
    padding: 10px;
}
h1, h2, h3, ul {
    font-family: 'Bitter', serif;
}
@media screen and (max-width: 1000px) {
    h1 {
        font-size: 2.5em;
    }
    h2, h3 {
        font-size: 1.5em;
    }
}
/*----------Grid Layout-------------*/
.container {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 150px 1fr 150px;
    grid-template-areas: 
    "header    header"
    "sidebar    main"
    "footer     footer";
}
li:hover {
    color:var(--footer);
}
@media screen and (max-width: 640px) {
    body {
        font-size: 1.25em;
    }
    .sidebar {
        text-align: center;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
        padding: 0;
        background-color: var(--sidebar);  
    }
    li {
        display: inline-block;
    }
    li:hover {
        background: var(--content);
        cursor: pointer;
    }
    .container {
        grid-template-columns: auto;
        grid-template-rows: 150px 1fr 1fr 150px;
        grid-gap: 0;
        grid-template-areas: 
        "header"
        "sidebar"
        "main"
        "footer";
    }

}
.header {
    grid-area: header;
    text-align: center;
    background-color: var(--header);
}
.sidebar {
    grid-area: sidebar;
    background-color: var(--sidebar);
}


/*----------Content-------------*/
.content {
    grid-area: main;
    display: grid;
    padding: 10px;
    background-color: var(--content);
}

.above_text {
    display: flex;
    justify-content: start;
    padding: 10px;
}
.bellow_text {
    display: flex;
    justify-content: center;
    padding: 10px;
}

textarea {
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
}

button {
    height: 2rem;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    color: inherit;
}
button:hover {
    opacity: 0.6;
    cursor: pointer;
}
.button_new, .button_save {
    background-color: var(--b_green);
}
.button_cancel {
    background-color: var(--b_red);
}
.button_theme {
    background-color: #57737A;
}

/*----------Footer-------------*/
img {
    width: 100%;
    padding-bottom: 10px;
}
.footer > h3 {
    padding: 0;
}
.footer {
    display: grid;
    justify-items: center;
    grid-area: footer;
    background-color: var(--footer)
}
.social_media {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-gap: 20px;
}
